@import "../../../styles/variables.scss";

.subtitle-1 {
  font-weight: 800;
  line-height: 18px;
  font-size: 18px;
}

.dark-gray {
  color: $color-dark-gray;
}

.white {
  color: $color-white;
}

.black {
  color: $color-black;
}

.inherit {
  color: inherit;
}
