@import '../../../styles/variables.scss';

.container {
  width: 264px;
  height: min-content;
  padding: 12px;
  border-radius: 18px;
  border: 1px solid $color-light-gray;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.option {
  width: 100%;
  padding: 12px;
  color: $color-dark-gray;
  border-radius: 12px;
  transition: all 0.2s ease-out;
  cursor: pointer;

  &:hover {
    background-color: rgba($color-light-gray, 0.3);
  }
}

.active {
  background-color: $color-green;
  color: $color-white;

  &:hover {
    background-color: $color-green;
  }
}
